version: '3.8'

services:
  wownow-web:
    container_name: wownow-web
    image: ghcr.io/polpo-space/wownow-webapp:latest
    restart: unless-stopped
    environment:
      TZ: Asia/Shanghai
      BACKEND_HOST: ${BACKEND_HOST:-api.iwownow.ai}
      BACKEND_PORT: ${BACKEND_PORT:-8000}
    ports:
      - "${WEB_PORT:-8080}:80"
    networks:
      - traefik      
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.wownow-webapp.entrypoints=web,websecure"
      - "traefik.http.routers.wownow-webapp.rule=Host(`iwownow.ai`)"
      - "traefik.http.services.wownow-webapp.loadbalancer.server.port=80"
      - "traefik.http.routers.wownow-webapp.tls=true"
      - "traefik.http.routers.wownow-webapp.tls.certresolver=le"
      - "traefik.docker.network=traefik"
      - "com.centurylinklabs.watchtower.enable=true"

  watchtower:
    container_name: watchtower
    image: containrrr/watchtower:latest
    restart: unless-stopped
    environment:
      TZ: Asia/Shanghai
      WATCHTOWER_CLEANUP: "true"
      WATCHTOWER_POLL_INTERVAL: 3600
      WATCHTOWER_LABEL_ENABLE: "true"
      WATCHTOWER_INCLUDE_RESTARTING: "true"
      WATCHTOWER_INCLUDE_STOPPED: "false"
      WATCHTOWER_REVIVE_STOPPED: "false"
      REPO_USER: ${GHCR_USER}
      REPO_PASS: ${GHCR_TOKEN}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - traefik

networks:
  traefik:
    external: true
  